name: Build artifact and push

on:
  workflow_call:
    inputs:
      gradle-targets:
        description: "Gradle targets to run"
        required: true
        type: string

      gradle-args:
        description: "Additional arguments to pass to Gradle"
        required: false
        default: ""
        type: string

#      publish-kostra-barnevern:
#        description: "Publish artifact to Google Artifact Registry"
#        required: false
#        default: false
#        type: boolean

    secrets:
      GAR_PROJECT_NUMBER:
        required: false
      GAR_PROJECT_ID:
        required: false
      SONAR_TOKEN:
        required: false

env:
  SONAR_TARGETS: ${{ secrets.SONAR_TOKEN && format('jacocoTestReport sonar -Dsonar.token={0}', secrets.SONAR_TOKEN) || '' }}

jobs:
  build-with-gradle:
    permissions:
      contents: write
      id-token: write
    runs-on: ubuntu-latest
    steps:
      - name: Checkout #  v6.0.0
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8
        with:
          fetch-depth: 0

      - name: Set up JDK 21 # v5.0.0
        uses: actions/setup-java@f2beeb24e141e01a676f977032f5a29d81c9e27e
        with:
          java-version: '21'
          distribution: 'temurin'
          cache: 'gradle'

      - name: Setup Gradle # v5.0.0
        uses: gradle/actions/setup-gradle@4d9f0ba0025fe599b4ebab900eb7f3a1d93ef4c2

      - name: Build with Gradle
        run: |
          ./gradlew ${{ inputs.gradle-targets }} ${{ inputs.gradle-args }} ${{ env.SONAR_TARGETS }} \
          --no-daemon --parallel --build-cache --info --stacktrace

#      - id: "auth"
#        name: Authenticate to Google Cloud
#        if: ${{ inputs.publish-kostra-barnevern }}
#        uses: "google-github-actions/auth@v2.1.7"
#        with:
#          workload_identity_provider: "projects/${{ secrets.GAR_PROJECT_NUMBER }}/locations/global/workloadIdentityPools/gh-actions/providers/gh-actions"
#          service_account: "gh-actions-kostra@${{ secrets.GAR_PROJECT_ID }}.iam.gserviceaccount.com"
#          token_format: "access_token"
#
#      - name: Deploy artifact to Google artifact registry
#        if: ${{ inputs.publish-kostra-barnevern }}
#        run: ./gradlew -p kostra-barnevern -Pversion=${{github.ref_name}} publishMavenPublicationToMavenRepository --info

      - name: Release # v2.4.1
        if : ${{ contains(inputs.gradle-targets, 'shadowJar') }}
        uses: softprops/action-gh-release@5be0e66d93ac7ed76da52eca8bb058f665c3a5fe
        with:
          files: |
            ./konsoll/build/libs/kostra-kontrollprogram-${{github.ref_name}}-all.jar
            ./web/build/libs/kostra-kontrollprogram-web-${{github.ref_name}}-all.jar

