name: Build Docker and push

on:
  push:
    tags:
      - '*'

env:
  REGISTRY: ghcr.io
  IMAGE: ${{ github.repository }}

jobs:
  build_and_push_docker:
    permissions:
      contents: read
      packages: write

    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Set docker image env var
        run: |
          echo "DOCKER_IMAGE=${{ env.REGISTRY }}/${{ env.IMAGE }}:${{ github.ref_name }}" >> $GITHUB_ENV

      - name: Set up QEMU # v3.7.0
        uses: docker/setup-qemu-action@c7c53464625b32c7a7e944ae62b3e17d2b600130
        with:
          platforms: linux/amd64,linux/arm64

      - name: Set up Docker Buildx # v3.11.3
        uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f

      - name: Set up JDK 21
        uses: actions/setup-java@be666c2fcd27ec809703dec50e508c2fdc7f6654
        with:
          java-version: '21'
          distribution: 'temurin'
          cache: 'gradle'

      - name: Setup Gradle # v5.0.0
        uses: gradle/actions/setup-gradle@f29f5a9d7b09a7c6b29859002d29d24e1674c884

      - name: Build with Gradle
        run: ./gradlew build -p web --no-daemon --build-cache --info

      - name: 'Login to GitHub Container Registry' # v3.6.0
        uses: docker/login-action@c94ce9fb468520275223c153574b00df6fe4bcc9
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push Docker images # v6.18.0
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83
        with:
          context: ./web
          platforms: linux/amd64,linux/arm64
          push: true
          provenance: false
          tags: |
            ${{ env.DOCKER_IMAGE }}
