name: Run checks

on:
  push:
    branches:
      - master

  pull_request:

permissions:
  contents: write
  id-token: write

jobs:
  build:
    uses: ./.github/workflows/build-template.yml
    secrets:
      GAR_PROJECT_NUMBER: ${{ secrets.GAR_PROJECT_NUMBER }}
      GAR_PROJECT_ID: ${{ secrets.GAR_PROJECT_ID }}
      SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
    with:
      gradle-targets: check