name: Create pre-release

on:
  release:
    types:
      - prereleased

permissions:
  contents: write
  id-token: write

jobs:
  build:
    uses: ./.github/workflows/build-template.yml
    secrets:
      GAR_PROJECT_NUMBER: ${{ secrets.GAR_PROJECT_NUMBER }}
      GAR_PROJECT_ID: ${{ secrets.GAR_PROJECT_ID }}
      SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
    with:
      gradle-targets: build shadowJar
      gradle-args: -Pversion=${{github.ref_name}}
